<!DOCTYPE html>
<html lang="en" >
  <head>
    <!--
      Congradulations weary travellor! You have discovered the location of my hidden rebel base. You shall be my honored guest. One word of caution: This is a constant WIP - so you should expect changes, occasional broken things, and even a few bad ideas from time to time. With that in mind - I'd love to meet you; to know what you think, so please hit me up on twitter or wherever. 
    -->
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  {{# page.description }}
    <meta name="description" content="{{ . }}">
  {{/ page.description }}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le styles -->
    {{{ assets }}} 

    <!-- Note that here I am not doing anything specific to support IE6. We had a good run, old nemisis - but I outlasted you in the end.-->

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
<link href='http://fonts.googleapis.com/css?family=Balthazar|Linden+Hill' rel='stylesheet' type='text/css'>

  </head>

  <body>
    <div class="over container-fluid span12">
      <div class="row-fluid">
        <div class="controls">
          <div class="header">
            <!-- <a class="brand" href="/">{{ site.title }}</a>  -->
            
              <a href="#" class="res" onclick="return false;"><span>Resume</span></a>
              <!--<a href="#" id="contact"><span>Contact</span></a>-->
              <a href="#" id="skill" onclick="return false;"><span>About</span></a>
              <!--<a href="#" id="blog"><span>Blog</span></a>-->
            
          </div>
        </div>
      </div>

{{> left}}
{{> right}}


    </div>
      <div class="content">
        {{{ content }}}
      </div>

      <div class="row">
        <footer>
          <p>&copy; {{ site.author.name }} 2012 
            props to <a href="http://ruhoh.com" target="_blank" title="The Definitive Technical Blogging Framework">ruhoh</a>
            and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
          </p>
        </footer>
      </div><!-- / .row -->
    <!-- </div> --> <!-- / .container -->
    {{> modal}}
    {{{ google_prettify }}}
    {{{ analytics }}}
  </body>

<script>
// Initialize awesome view action - thanks to Rogie King.
  new View( $('.thumbnails a[href]') );
</script>

<script type="text/javascript" src = "https://halfcourtshot.googlecode.com/svn/tags/101129.1100/js/half-court-shot.jsapp.mh.min.js"></script>
<script type="text/javascript">
  //My Dribbble feed - brought to you by HalfCourtShot by 1337 h4xx0rs Rogie King and Mediahack 
  var hcs = new HalfCourtShot({ jersey: "adc", shots: 6, goal: 'dribbble' });
</script>
</html>
